**In this project, I will conduct an `Explanatory analysis(EDA)` on the dataset <a href="https://www.kaggle.com/search?q=ultra+marathon+in%3Adatasets"> The big dataset of ultra-marathon running</a>,  which is available on Kaggle. Although my dataset is not exceptionally large (around 1 gigabyte in CSV format), it is still significant. My aim is to perform data manipulation and EDA on this large dataset using the `Pandas` library.**

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("clean_dataset.csv")
data.head(2)

C:\Users\saeed\AppData\Local\Temp\ipykernel_11040\4232497205.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("clean_dataset.csv")

,year_of_event,event_dates,event_name,event_distance/length(km),event_number_of_finishers,athlete_performance,athlete_club,athlete_country,athlete_year_of_birth,athlete_gender,athlete_age,athlete_average_speed,athlete_id
0,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,60.375,9,6.0,Мкшч,RUS,1966.0,M,50,10.063,22
1,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,59.750,9,6.0,Лично,RUS,1990.0,M,23,9.958,23

In [7]:
data

,year_of_event,event_dates,event_name,event_distance/length(km),event_number_of_finishers,athlete_performance,athlete_club,athlete_country,athlete_year_of_birth,athlete_gender,athlete_age,athlete_average_speed,athlete_id
0,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,60.375,9,6.0,Мкшч,RUS,1966.0,M,50,10.063,22
1,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,59.750,9,6.0,Лично,RUS,1990.0,M,23,9.958,23
2,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,56.250,9,6.0,Ахиллес,RUS,1995.0,M,23,9.375,24
3,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,56.000,9,6.0,Аматар,RUS,1956.0,M,60,9.333,25
4,2018,06.01.2018,6 Stunden Self-Transcendence Sri Chinmoy Smole...,51.250,9,6.0,Endurance,RUS,1986.0,M,23,8.542,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
485884,1995,00.00.1995,Les 24 heures de Fleurbaix (FRA),232.810,2,24.0,-,FRA,1958.0,M,35,9700.0,1069476
485885,1995,00.00.1995,Les 24 heures de Fleurbaix (FRA),221.374,2,24.0,-,BEL,1951.0,M,40,9224.0,1045647
485886,1995,00.00.1995,Szombathely 24 hours running Race (HUN),241.000,3,24.0,*Budapest,HUN,1950.0,M,40,10042.0,1047373
485887,1995,00.00.1995,Szombathely 24 hours running Race (HUN),228.000,3,24.0,*Szeged,HUN,1959.0,M,35,9500.0,380150
485888,1995,00.00.1995,Szombathely 24 hours running Race (HUN),224.000,3,24.0,*Pecs,HUN,1958.0,M,35,9333.0,1070482

---

In [6]:
data.shape

(485889, 13)

In [4]:
data.isna().sum()

year_of_event                0
event_dates                  0
event_name                   0
event_distance/length(km)    0
event_number_of_finishers    0
athlete_performance          0
athlete_club                 0
athlete_country              0
athlete_year_of_birth        0
athlete_gender               0
athlete_age                  0
athlete_average_speed        0
athlete_id                   0
dtype: int64